/*Bootstrap General Classes*/

.container-fluid {
	padding: 0;
}

/*General Classes*/

.hidden-section-header {
	position: absolute;
	top: -9999px;
}
.section-header {
	color: #FFFFFF;
	background-color: #FF0000;
	padding: 5px;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}
.article-image.col-md-7 {
	padding-right: 0;
}
.article-text.col-md-5 {
	padding-left: 0;
}
.slideshow{
	color: #20C3F3;
	text-transform: uppercase;
}

/*Header*/

header {
	height: 150px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ff0000;
}
header #header-overhead {
	border-bottom: 4px solid #ff0000;
}
header #header-overhead p {
	display: inline;
	line-height: 28px;
}
header #header-overhead a {
	float: right;
	margin-right: 10px;
	font-style: italic;
	font-size: 14px;
	line-height: 28px;
	color: red;
	font-weight: bold;
}
header #header-overhead a:hover{
	text-decoration: none;
}
header #header-overhead a.more-info {
	float: none;
}
header #header-overhead a.register {
	background: #000;
	color: white;
	font-weight: 500;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
}
header #header-overhead a.signin {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px
}
header .header-container {
	float: none;
	padding: 0;
	padding-top: 35px;
}
header .header-container ul {
	display: inline;
	vertical-align: bottom;
	margin-left: 10px;
}
header .header-container ul li a {
	color: #ff0000;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}
header .header-container ul li a#thisweeks{
	color: #999;
}

/*News Feed*/

.news-container {
	float: none;
}
.image img {
	border-bottom: 3px solid #FF0000;
}
section#news-feed {}
section#news-feed article .category a {
	font-size: 16px;
	font-weight: bold;
	color: black;
	transition: all .5s ease;
	font-weight: 600;
}
section#news-feed article .category a:hover {
	color: #FF0000;
	text-decoration: none;
}
section#news-feed a {
	color: black;
	font-size: 16px;
	transition: all .5s ease;
	font-weight: 300;
	line-height: 19px;
}
section#news-feed a:hover {
	color: #FF0000;
	text-decoration: none;
}
section#news-feed article {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px dotted #999;
}

/*Featured News*/

section#featured-news {
	border-left: 1px solid #999;
	margin-top: 5px;
}
.featured-header {
	font-size: 38px;
	font-weight: bold;
	color: black;
	line-height: 38px;
}
.featured-header:hover {
	color: black;
	text-decoration: underline;
}
section#featured-news p {
	margin-bottom: 5px;
}
section#featured-news ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	padding-bottom: 10px;
}
section#featured-news li {
	padding-left: 1em;
	text-indent: -.7em;
}
section#featured-news li:before {
	content: "• ";
	color: red;
}
section#featured-news li a {
	color: black;
	font-size: 14px;
	font-weight: bold;
}
section#featured-news article {
	padding-top: 30px;
	padding-bottom: 20px;
	border-top: 1px solid #999;
}
section#featured-news article .article-category {
	color: #FF0000;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 0;
}
section#featured-news article h4.article-header {
	margin: 0;
	line-height: 24px;
}
section#featured-news article .article-header a {
	font-size: 23px;
	color: black;
	font-weight: 600;
}
section#featured-news article .lead {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 19px;
}
section#featured-news article .related {
	font-size: 12px;
	color: #26CFF7;
	text-transform: uppercase;
}
section#featured-news article a.related-link {
	color: black;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
}
section#featured-news article a.related-link:hover {
	text-decoration: underline;
}

/*Promo section*/

.newsweek-header {
	background: #20C3F3;
	color: white;
	font-size: 13.5px;
	line-height: 20px;
	padding: 3px 10px;
	font-weight: 600;
	margin-bottom: 10px;
}
.newsweek-header-yellow {
	background: #FFF100;
	color: #000;
	font-size: 13.5px;
	line-height: 20px;
	padding: 3px 10px;
	font-weight: 600;
}
.promo article {
	margin-top: 20px;
	background: url("../img/stripes.png");
	padding: 15px;
}
.promo article ul {
	margin-top: 10px;
}
.promo article li {
	border-radius: 50%;
	border: 1px solid white;
	background: #ccc;
	color: white;
	font-size: 14px;
	padding: 8px;
	outline-color: #000;
}
.promo article li:hover {
	background: #20C3F3;
	color: #fff;
	border: 1px solid #fff;
}
.promo article span.email {
	color: #999;
	font-size: 12px;
	padding-right: 20 px;
	border-bottom: 1px solid #999;
}
.promo article a.signup {
	color: black;
	background: #20C3F3;
	padding: 2px 10px;
	text-transform: uppercase;
	font-size: 12px;
	float: right;
}
.promo article .email-signup {
	background: white;
	padding: 5px;
	margin-top: 10px;
}
.promo article.subscribe {
	padding: 0;
}
.promo article.mini-article {
	background: white;
	border-bottom: 1px solid #999;
	padding: 0 10px;
}
.promo article.mini-article:last-child {
	border-bottom: 0;
}
.promo article.mini-article a {
	color: #505050;
	font-size: 18px;
}
.promo article.mini-article p {
	font-size: 15px;
	color: #7d7d7d;
	font-style: italic;
	line-height: 20px;
}
.promo article.mini-article p i {
	color: #20C3f3;
	font-style: normal;
}

/*Big Shot*/
section#big-shot{
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
section#big-shot a{
	color: black;
	font-size: 23px;
	font-weight: 600;
}
section#big-shot p{
	font-size: 17px;
	color: #5a5a5a;
	line-height: 19px;
	font-weight: 400;
}

#week-issue {
	height: 600px;
}
#wisdom-watch {
	height: 600px;
}
#issues {
	background: #505050;
	height: 500px;
}
#footer {
	height: 100px;
}
